@mixin headline-large {
  font-size: $marketing-mobile-font-size-headline-large;
  line-height: $marketing-line-height-7;
  font-weight: bold;
  // font-size: $marketing-desktop-font-size-headline-large;
  // line-height: $marketing-line-height-9;
}

@mixin headline-default {
  font-size: $marketing-mobile-font-size-headline-default;
  line-height: $marketing-line-height-6;
  font-weight: bold;

  // font-size: $marketing-desktop-font-size-headline-default;
  // line-height: $marketing-line-height-8;
}

@mixin heading-default {
  font-size: $marketing-mobile-font-size-heading-deafult;
  line-height: $marketing-line-height-5;
  font-weight: bold;

  // font-size: $marketing-desktop-font-size-heading-deafult;
  // line-height: $marketing-line-height-6;
}

@mixin heading-medium {
  font-size: $marketing-mobile-font-size-heading-medium;
  line-height: $marketing-line-height-3;
  font-weight: bold;

  // font-size: $marketing-mobile-font-size-heading-medium;
  // line-height: $marketing-line-height-4;
}
