$block-card-shadow: 0px 32px 36px rgba(0, 0, 0, 0.04), 0px 0px 14px rgba(0, 0, 0, 0.05);

$container-max-width: 1140px;
$container-padding: $space-scale-16;

$separator: 1px solid $color-ui-border-default;
